@charset "UTF-8";
/* attention dans import: ni extension ni _ */
/************* variable **************/
/* couleurs de base*/
/* fonctions */
/*couleurs secondaires découlant de celles de bases */
/* dégradé */
/*les couleurs utilisées / ligne à laisser en 1ere posotion car les couleurs sont utilisées dans d'autres pages utils*/
/*! font woff et woff Généré par Font Squirrel (https://www.fontsquirrel.com) on June 28, 2021 */
@font-face {
  font-family: "robotoregular";
  src: url("../../sass/base/fonts/Roboto/Roboto-Regular.ttf") format("ttf"), url("../../sass/base/fonts/Roboto/roboto-regular-webfont.woff2") format("woff2"), url("../../sass/base/fonts/Roboto/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("../../sass/base/fonts/Shrikhand/Shrikhand-Regular.ttf") format("ttf"), url("../../sass/base/fonts/Shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("../../sass/base/fonts/Shrikhand/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* note : attention aux liens! lors de la compil, les chemins partent du répertoire css... */
/* font */
/* texte du site */
/* nom des restaurants sur les pages dédiées */
/*masquer le texte et le remplacer par des ... */
/*pour les font, les fonts sizes...*/
/*durée des animations*/
/*le keyframe et son mixin associé pour les restaurants favoris (coeurs)*/
@keyframes hoverfavori {
  from {
    transform: scale(1);
    display: inline-block;
  }
  to {
    transform: scale(0);
    display: none;
  }
}
/* keyframe pour la validation des plats et mixin associé */
@keyframes platcheck {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  80% {
    transform: rotate(350deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*keyframe et mixin pour la zone de plat ckeck */
@keyframes grow {
  from {
    flex: 1;
  }
  to {
    flex: 8;
  }
}
/*keyframes et mixin pour l'affichage progressif des plats */
@keyframes platereveal {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
/*keyframes pour le loader */
@keyframes covered {
  0%, 99% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
    display: none;
  }
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  30%, 35% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  55%, 60% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-30deg);
  }
}
/*les animations avec leurs mixins */
/*mixins*/
/*sur la page index et l'header*/
/* les grids pour les pages*/
/*value*/
/* les breakpoints */
/*les mises en pages*/
* {
  font-family: "robotoregular";
  margin: 0;
  padding: 0;
  color: black;
  border: none;
}

body {
  width: 100%;
  background: white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  margin-top: 30px;
  padding: 10px 13px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1rem;
  border-radius: 25px;
  color: white;
  background: linear-gradient(300deg, #9356DC, #FF79DA);
  box-shadow: 3px 3px 3px #9356DC;
}
.btn:hover {
  background: linear-gradient(300deg, #ae80e5, #fface8);
  box-shadow: 3px 3px 3px black;
}

.favori {
  border: none;
  margin: 0;
  width: 1.1rem;
}
.favori input {
  display: none;
}
.favori input + label {
  display: inline-block;
  width: 1.1rem;
  height: auto;
  position: relative;
}
.favori input + label .checked {
  display: none;
}
.favori input + label .unchecked {
  display: inline-block;
  width: 1.1rem;
  z-index: 1;
  color: black;
}
.favori input:checked + label .checked {
  display: inline-block;
  width: 1.1rem;
  z-index: 1;
  color: #9356DC;
}
.favori input:checked + label .unchecked {
  display: none;
}
.favori input:hover + label {
  position: relative;
}
.favori input:hover + label .unchecked {
  width: 1.1rem;
  margin: 0;
  transform-origin: bottom;
  animation: hoverfavori 1s ease-in-out both;
  animation-direction: normal;
  color: black;
  display: inline-block;
  width: 1.1rem;
  z-index: 1;
}
.favori input:hover + label .checked {
  width: 1.1rem;
  margin: 0;
  transform-origin: bottom;
  animation: hoverfavori 1s ease-in-out both;
  animation-direction: reverse;
  color: #9356DC;
  display: inline-block;
  width: 1.1rem;
  z-index: 2;
}

.bloc {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  animation: covered 3s ease-in-out both;
  line-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 100%;
  height: 172vh;
  background: linear-gradient(-45deg, #9356DC, #FF79DA, #99E2D0);
}

@media screen and (max-width: 375px) {
  .load {
    margin-top: 40px;
    width: 120px;
    height: 60px;
    position: relative;
  }
  .load .container {
    display: flex;
    justify-content: space-around;
  }
  .load .couvercle {
    transform-origin: bottom left;
    animation: rotate 3s ease-in-out both;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 2;
  }
  .load .couvercle .prise {
    height: 20px;
    width: 20px;
    margin: auto;
    background: silver;
    border-radius: 50%;
  }
  .load .couvercle .cloche {
    height: 20px;
    width: 80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: auto;
    background: silver;
  }
  .load .texte {
    width: 100%;
    position: absolute;
    top: 26px;
    text-align: center;
    left: 0;
  }
  .load .texte p {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
  }
  .load .assiette {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
    margin: auto;
  }
  .load .assiette .hautplat {
    width: 120px;
    height: div(20px, 5);
    min-height: 2px;
    margin: auto;
    background: silver;
  }
  .load .assiette .basplat {
    width: 100px;
    height: div(20px, 5);
    min-height: 2px;
    margin: auto;
    background: silver;
  }
}
@media screen and (min-width: 375px) and (max-width: 795px) {
  .load {
    margin-top: 100px;
    width: 300px;
    height: 150px;
    position: relative;
  }
  .load .container {
    display: flex;
    justify-content: space-around;
  }
  .load .couvercle {
    transform-origin: bottom left;
    animation: rotate 3s ease-in-out both;
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 2;
  }
  .load .couvercle .prise {
    height: 50px;
    width: 50px;
    margin: auto;
    background: silver;
    border-radius: 50%;
  }
  .load .couvercle .cloche {
    height: 50px;
    width: 200px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: auto;
    background: silver;
  }
  .load .texte {
    width: 100%;
    position: absolute;
    top: 65px;
    text-align: center;
    left: 0;
  }
  .load .texte p {
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
  }
  .load .assiette {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1;
    margin: auto;
  }
  .load .assiette .hautplat {
    width: 300px;
    height: div(50px, 5);
    min-height: 2px;
    margin: auto;
    background: silver;
  }
  .load .assiette .basplat {
    width: 250px;
    height: div(50px, 5);
    min-height: 2px;
    margin: auto;
    background: silver;
  }
}
@media screen and (min-width: 795px) {
  .load {
    margin-top: 200px;
    width: 600px;
    height: 300px;
    position: relative;
  }
  .load .container {
    display: flex;
    justify-content: space-around;
  }
  .load .couvercle {
    transform-origin: bottom left;
    animation: rotate 3s ease-in-out both;
    position: absolute;
    top: 0;
    left: 100px;
    z-index: 2;
  }
  .load .couvercle .prise {
    height: 100px;
    width: 100px;
    margin: auto;
    background: silver;
    border-radius: 50%;
  }
  .load .couvercle .cloche {
    height: 100px;
    width: 400px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin: auto;
    background: silver;
  }
  .load .texte {
    width: 100%;
    position: absolute;
    top: 130px;
    text-align: center;
    left: 0;
  }
  .load .texte p {
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }
  .load .assiette {
    position: absolute;
    top: 200px;
    left: 0;
    z-index: 1;
    margin: auto;
  }
  .load .assiette .hautplat {
    width: 600px;
    height: div(100px, 5);
    min-height: 2px;
    margin: auto;
    background: silver;
  }
  .load .assiette .basplat {
    width: 500px;
    height: div(100px, 5);
    min-height: 2px;
    margin: auto;
    background: silver;
  }
}
.plat {
  display: flex;
  width: 100%;
  border-radius: 10px;
  height: 70px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.plat input {
  display: none;
}
.plat-info {
  padding-bottom: 10px;
  padding-top: 10px;
  background: white;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.plat-info h3, .plat-info p {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.plat .add {
  display: flex;
  text-align: center;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  background-color: white;
}
.plat .add input {
  display: none;
}
.plat .add input + label {
  display: flex;
  text-align: center;
  align-self: flex-end;
  width: 50px;
}
.plat .add-check {
  display: none;
}
.plat .add:hover {
  flex: 1;
  animation: grow 1s ease-in-out both;
}
.plat .add:hover label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.plat .add:hover label span {
  margin-right: 10px;
  height: 70px;
  background: white;
  justify-self: flex-end;
}
.plat .add:hover label .add-check {
  background: #99E2D0;
  font-size: 2rem;
  display: inline-block;
  width: 70px;
  height: calc($height_plat - $padding_plat--large);
  padding-top: 15px;
}
.plat .add:hover label .add-check i {
  color: white;
  animation: platcheck 600ms ease-in-out both;
}

.prix {
  display: flex;
  align-items: flex-end;
}
.prix .value {
  margin-bottom: 10px;
}

.plat input:checked + label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.plat input:checked + label span {
  margin-right: 10px;
  height: 70px;
  background: white;
  justify-self: flex-end;
}
.plat input:checked + label .add-check {
  background: #99E2D0;
  font-size: 2rem;
  display: inline-block;
  width: 70px;
  height: calc($height_plat - $padding_plat--large);
  padding-top: 15px;
}
.plat input:checked + label .add-check i {
  color: white;
  animation: platcheck 600ms ease-in-out both;
}

.mainTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

/*pour que le fond soit visible*/
.resto .main .menu {
  margin-top: 190px;
}

/*background image des différents restaurants*/
.delices {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url("./../../sass/base/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.francaise {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url("./../../sass/base/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.note {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url("./../../sass/base/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.palette {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url("./../../sass/base/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.header {
  text-align: center;
  width: 100%;
}
.header-title {
  width: 100%;
  height: 63px;
  display: grid;
  grid-template-columns: 28% 44% 28%;
  align-items: center;
  justify-items: center;
}
.header-title .backtoindex {
  grid-column: 1/2;
  text-align: left;
  font-size: 1.1rem;
  margin-left: 1.3rem;
  width: 1.1rem;
}
.header-title #logo {
  grid-column: 2/3;
  height: 28px;
  width: auto;
  /*la taille du logo reste constante quelle que soit la vue */
  display: inline-block;
  padding-top: 10px;
}

@media screen and (max-width: 767px) {
  .resto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content max-content;
  }
  .resto .header {
    grid-row: 1/2;
  }
  .resto .main {
    grid-row: 2/3;
  }
  .resto .footer {
    grid-row: 3/4;
  }
}
.resto .main {
  position: relative;
}
.resto .main .image {
  width: 100%;
  /* @media screen and (max-width:map-get($map: $breakpoints, $key: phone-max)  ){
   }*/
}
.resto .main .image-grid {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .resto .main .image {
    display: none;
  }
  .resto .main .image-grid {
    display: inline-block;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 92%;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .resto .main .image {
    display: none;
  }
  .resto .main .image-grid {
    border-radius: 15px;
    display: inline-block;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    margin: auto;
  }
}
.resto .main h3, .resto .main p {
  text-indent: 0.5rem;
  width: 80%;
  /*pour que le texte qui déborde apparaissent sous la forme de ... */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.resto .main .menu {
  width: 100%;
  background-color: #d9d9d9;
  border-radius: 15px 15px 0 0;
}
@media screen and (max-width: 767px) {
  .resto .main .menu {
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .resto .main .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.1rem;
    grid-template-rows: repeat(2, 330px) 150px;
    grid-row-gap: 10px;
    position: relative;
  }
}
@media screen and (min-width: 992px) {
  .resto .main .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.1rem;
    grid-template-rows: repeat(2, 330px) 150px;
    grid-row-gap: 10px;
    position: relative;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .resto .main .menu-entrees {
    grid-column: 2/2;
    grid-row: 1/2;
  }
}
@media screen and (min-width: 992px) {
  .resto .main .menu-entrees {
    grid-column: 1/2;
    grid-row: 2/2;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .resto .main .menu-plats {
    grid-column: 1/2;
    grid-row: 2/2;
  }
}
@media screen and (min-width: 992px) {
  .resto .main .menu-plats {
    grid-column: 2/3;
    grid-row: 2/2;
  }
}
@media screen and (max-width: 767px) {
  .resto .main .menu-desserts {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .resto .main .menu-desserts {
    grid-column: 2/2;
    grid-row: 2/2;
  }
}
@media screen and (min-width: 992px) {
  .resto .main .menu-desserts {
    grid-column: 3/4;
    grid-row: 2/2;
  }
}
.resto .main .menu-title {
  padding-top: 35px;
  margin: 0 1.3rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resto .main .menu-title h1 {
  font-family: "shrikhandregular";
  font-size: 1.5rem;
}
.resto .main .menu-title .favori {
  font-size: 1.5rem;
  width: 1.5rem;
  z-index: 2;
  border: none;
  margin: 0;
  width: 1.5rem;
}
.resto .main .menu-title .favori input {
  display: none;
}
.resto .main .menu-title .favori input + label {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}
.resto .main .menu-title .favori input + label .checked {
  display: none;
}
.resto .main .menu-title .favori input + label .unchecked {
  display: inline-block;
  width: 1.1rem;
  z-index: 1;
  top: 35px;
  color: black;
}
.resto .main .menu-title .favori input:checked + label .checked {
  display: inline-block;
  width: 1.1rem;
  z-index: 1;
  top: 35px;
  color: #9356DC;
}
.resto .main .menu-title .favori input:checked + label .unchecked {
  display: none;
}
.resto .main .menu-title .favori input:hover + label {
  position: relative;
}
.resto .main .menu-title .favori input:hover + label .unchecked {
  width: 1.5rem;
  margin: 0;
  transform-origin: bottom;
  animation: hoverfavori 1s ease-in-out both;
  animation-direction: normal;
  color: black;
  display: inline-block;
  width: 1.1rem;
  z-index: 1;
  top: 35px;
}
.resto .main .menu-title .favori input:hover + label .checked {
  width: 1.5rem;
  margin: 0;
  transform-origin: bottom;
  animation: hoverfavori 1s ease-in-out both;
  animation-direction: reverse;
  color: #9356DC;
  display: inline-block;
  width: 1.1rem;
  z-index: 2;
  top: 35px;
}
@media screen and (min-width: 992px) {
  .resto .main .menu-title {
    grid-column: 2/4;
    grid-row: 1/2;
  }
}
.resto .main .menu h2 {
  position: relative;
  text-indent: 1.3rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-top: 30px;
}
.resto .main .menu h2::before {
  position: absolute;
  bottom: -5px;
  left: 1.3rem;
  content: " ";
  width: 2.8rem;
  height: 2px;
  background: #99E2D0;
}
.resto .main .menu ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}
.resto .main .menu ul li {
  margin-top: 10px;
  background: white;
  width: 92%;
  font-size: 1rem;
  border-radius: 40px;
}

.menu-entrees ul li:nth-child(1) {
  animation: platereveal 200ms 200ms ease-in-out both;
}
.menu-entrees ul li:nth-child(2) {
  animation: platereveal 200ms 400ms ease-in-out both;
}
.menu-entrees ul li:nth-child(3) {
  animation: platereveal 200ms 600ms ease-in-out both;
}
.menu-plats ul li:nth-child(1) {
  animation: platereveal 200ms 1000ms ease-in-out both;
}
.menu-plats ul li:nth-child(2) {
  animation: platereveal 200ms 1200ms ease-in-out both;
}
.menu-plats ul li:nth-child(3) {
  animation: platereveal 200ms 1400ms ease-in-out both;
}
.menu-desserts ul li:nth-child(1) {
  animation: platereveal 200ms 1800ms ease-in-out both;
}
.menu-desserts ul li:nth-child(2) {
  animation: platereveal 200ms 2000ms ease-in-out both;
}
.menu-desserts ul li:nth-child(3) {
  animation: platereveal 200ms 2200ms ease-in-out both;
}

.buttonarea {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.buttonarea .btn {
  margin: auto;
  height: 50px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .buttonarea {
    grid-row: 3/4;
    grid-column: 1/3;
  }
}
@media screen and (min-width: 992px) {
  .buttonarea {
    grid-row: 3/4;
    grid-column: 1/4;
  }
}
@media screen and (min-width: 768px) {
  .main {
    display: flex;
  }
}
/*
 .favori{

    padding-top: $padding_title--favori;
    position: absolute;
    top: 0.625*1.5rem;
    right: 100px;        
    @media screen and (min-width: map-get($map: $breakpoints, $key:tablette-min )) and (max-width: map-get($map: $breakpoints, $key:tablette-max )){
        padding-top:$padding_title--favori;
        position: absolute;
        top: 0.625*1.5rem;
        right: 100px;    
    }
}*/
.footer {
  background: #18092a;
}
.footer * {
  color: white;
}
.footer ul {
  list-style: none;
  padding-top: 10px;
  margin-left: 1.5rem;
  padding-bottom: 30px;
}
.footer h3 {
  margin-left: 1.5rem;
  font-family: "shrikhandregular";
  padding-top: 7.5px;
}
.footer li {
  margin-top: 3px;
}
.footer li a {
  font-size: 1rem;
}
.footer li a i {
  font-size: 1rem;
  width: 1rem;
  margin-right: 0.3rem;
}

.index {
  position: relative;
}
.index .header .backtoindex {
  display: none;
}
.index .main {
  width: 100%;
  /*toute la page est un formulaire */
  /*zone de recherche par lieu*/
  /* zone de titre */
  /*englobe la zone de fonctionnement et les restaurants*/
  /* zone d'explication du fonctionnement*/
}
.index .main-form {
  background: white;
  position: relative;
  width: 100%;
}
.index .main-location {
  border: none;
  height: 50px;
  background-color: #e8f9f5;
  position: relative;
  display: grid;
  grid-template-columns: 28% 44% 28%;
  align-items: center;
  justify-items: center;
}
.index .main-location::before {
  grid-column: 1/4;
  content: "";
  box-shadow: inset 0 2px 2px #9356DC;
  height: 50px;
  display: inline-block;
  width: 100%;
  z-index: 1;
}
.index .main-location label {
  grid-column: 2/3;
  z-index: 2;
  position: absolute;
  top: 3px;
  /*left:0;*/
  width: max-content;
}
.index .main-location span {
  font-size: 1rem;
}
.index .main-location input {
  margin-left: 0.3rem;
  text-indent: 0.3rem;
  font-size: 1rem;
  margin-top: 15px;
  font-weight: bold;
  width: 80%;
  border: none;
  background-color: #e8f9f5;
}
.index .main-slogan {
  text-align: center;
  padding-bottom: 50px;
}
.index .main-slogan .mainTitle {
  margin-top: 40px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
.index .main-slogan p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 88%;
  font-size: 1.1rem;
}
@media screen and (min-width: 992px) {
  .index .main-reactive {
    display: flex;
    justify-content: space-around;
  }
}
.index .main-working {
  padding-bottom: 60px;
  padding-top: 50px;
}
@media screen and (min-width: 992px) {
  .index .main-working {
    flex: 1;
  }
}
.index .main-working .mainTitle {
  margin-bottom: 3px;
  margin-left: 1.3rem;
}
.index .main-working ul {
  list-style: none;
  width: 86.5%;
  margin-top: 3px;
  margin-left: 2rem;
  margin-right: auto;
  font-weight: bold;
}
.index .main-working li {
  display: inline-block;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 3px 3px #9356DC;
  background-color: #f2eafb;
}
.index .main-working li .number {
  position: absolute;
  top: 30px;
  left: -0.8rem;
  background-color: #9356DC;
  color: white;
  width: 22px;
  text-align: center;
  border-radius: 50px;
  height: 22px;
  z-index: 1;
}
.index .main-working li i {
  text-indent: 2rem;
  font-size: 1.1rem;
}
.index .main-working li:hover {
  background: #d9d9d9;
  box-shadow: 0 3px 3px black;
}
.index .main-working li:hover i {
  color: #9356DC;
}
.index .main-working li .info {
  position: absolute;
  top: 31px;
  left: 4.6rem;
}
.index .main-places {
  padding-bottom: 60px;
  background-color: #f2eafb;
  /*fiche des restaurants */
}
@media screen and (min-width: 992px) {
  .index .main-places {
    flex: 3;
  }
}
.index .main-places .mainTitle {
  padding-top: 50px;
  margin-left: 1.3rem;
}
.index .main-places ul {
  margin-top: 20px;
  list-style: none;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .index .main-places ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.1rem;
    grid-template-rows: repeat(2, 250px) 0;
    grid-row-gap: 10px;
    position: relative;
  }
}
@media screen and (min-width: 992px) {
  .index .main-places ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.1rem;
    grid-template-rows: repeat(2, 250px) 0;
    grid-row-gap: 10px;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .index .main-places ul li {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .index .main-places li:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media screen and (min-width: 992px) {
  .index .main-places li:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.index .main-places li:nth-child(1) .restaurant {
  background-image: url("../../sass/base/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-position: 90%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .index .main-places li:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
@media screen and (min-width: 992px) {
  .index .main-places li:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.index .main-places li:nth-child(2) .restaurant {
  background-image: url("../../sass/base/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position-y: 90%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .index .main-places li:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media screen and (min-width: 992px) {
  .index .main-places li:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
.index .main-places li:nth-child(3) .restaurant {
  background-image: url("../../sass/base/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-position-y: 90%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .index .main-places li:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media screen and (min-width: 992px) {
  .index .main-places li:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.index .main-places li:nth-child(4) .restaurant {
  background-image: url("../../sass/base/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-position-y: 90%;
}
.index .main-places .restaurant {
  margin-right: auto;
  margin-left: auto;
  width: 335px;
  height: 250px;
  background-size: cover;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* details des restaurants */
}
@media screen and (min-width: 992px) {
  .index .main-places .restaurant {
    width: 100%;
  }
}
.index .main-places .restaurant-new {
  display: none;
}
.index .main-places .restaurant-new--active {
  position: absolute;
  top: 13px;
  right: 11px;
  background-color: #99E2D0;
  width: 80px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  color: #4acbab;
  border-radius: 2px;
}
.index .main-places .restaurant-details {
  background-color: white;
  position: relative;
  font-size: 1.1rem;
  border-radius: 0 0 15px 15px;
  z-index: 1;
}
.index .main-places .restaurant-details h3 {
  padding-top: 10px;
  font-weight: bold;
  text-indent: 0.7rem;
}
.index .main-places .restaurant-details p {
  margin-top: 10px;
  padding-bottom: 10px;
  text-indent: 0.7rem;
}
.index .main-places .restaurant-details .favori {
  position: absolute;
  top: 0px;
  right: 1.5rem;
  font-size: 1.1rem;
  width: 1.1rem;
  z-index: 2;
  border: none;
  margin: 0;
  width: 1.1rem;
}
.index .main-places .restaurant-details .favori input {
  display: none;
}
.index .main-places .restaurant-details .favori input + label {
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  position: relative;
}
.index .main-places .restaurant-details .favori input + label .checked {
  display: none;
}
.index .main-places .restaurant-details .favori input + label .unchecked {
  display: inline-block;
  width: 1.1rem;
  z-index: 1;
  position: absolute;
  top: 15px;
  left: 0px;
  color: black;
}
.index .main-places .restaurant-details .favori input:checked + label .checked {
  display: inline-block;
  width: 1.1rem;
  z-index: 1;
  position: absolute;
  top: 15px;
  left: 0px;
  color: #9356DC;
}
.index .main-places .restaurant-details .favori input:checked + label .unchecked {
  display: none;
}
.index .main-places .restaurant-details .favori input:hover + label {
  position: relative;
}
.index .main-places .restaurant-details .favori input:hover + label .unchecked {
  width: 1.1rem;
  margin: 0;
  transform-origin: bottom;
  animation: hoverfavori 1s ease-in-out both;
  animation-direction: normal;
  color: black;
  display: inline-block;
  width: 1.1rem;
  z-index: 1;
  position: absolute;
  top: 15px;
  left: 0px;
}
.index .main-places .restaurant-details .favori input:hover + label .checked {
  width: 1.1rem;
  margin: 0;
  transform-origin: bottom;
  animation: hoverfavori 1s ease-in-out both;
  animation-direction: reverse;
  color: #9356DC;
  display: inline-block;
  width: 1.1rem;
  z-index: 2;
  position: absolute;
  top: 15px;
  left: 0px;
}

/*# sourceMappingURL=style.css.map */
