// mixin pour les images de fond des restaurants
@mixin background($link){
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image:url($place+$link);
}

//le code
/*pour que le fond soit visible*/

    .resto .main .menu{
        margin-top: $margin-background_image;
    }    


/*background image des différents restaurants*/
.delices{
    @include background($delice);
}

.francaise{
    @include background($francaise)
}

.note{
    @include background($note);
}

.palette{
    @include background($palette);
}