
.btn{
            margin-top: $margin-button;
            padding: $buttonpadding-small $buttonpadding-large;
            margin-left: auto;
            margin-right: auto;
            font-size:$fontsize-button;
            border-radius: $borderradius-button;
            color:$color--button;
}