
.btn{
            margin-top: $margin_btn;
            padding: $padding_btn--small $padding_btn--large;
            margin-left: auto;
            margin-right: auto;
            font-size:$fontsize_btn;
            border-radius: $borderradius_btn;
            color:$color--button;
}