.btn{
            margin-top: map-get($map: $padding, $key:threehead );
            padding: map-get($map: $padding, $key:button ) 22px;
            margin-left: auto;
            margin-right: auto;
            font-size: map-get($map: $font-size, $key: title);
            border-radius: map-get($map: $border-radius, $key:button );
            color:white;
}