.mainTitle{
    font-size: map-get($map: $font-size, $key: mainTitle);
    font-weight: bold;
}

.btn{
            margin-top: map-get($map: $padding, $key:threehead );
            padding: map-get($map: $padding, $key:button ) 22px;
            margin-left: auto;
            margin-right: auto;
            font-size: map-get($map: $font-size, $key: title);
            border-radius: map-get($map: $border-radius, $key:button );
            color:white;
}

.favori{
    border:none;
    margin: 0;
    input{
            display:none;
            &+label{
                position: relative;
                & .checked{
                    display: none;
                }
                & .unchecked{
                    @include favori_position(1);
                    /*transform: scale(1);*/
                    color:darken($color: $color-primary, $amount: 50%);
                }
            }
            &:checked+label{
                & .checked{
                    @include favori_position(1);
                    /*transform: scale(1);*/
                    color:$color-primary;
                }
                & .unchecked{
                    display: none;
                }
            }
            &:hover+label             
            {
                position: relative;
                & .unchecked{
                @include favoricheck('reduce');
                color:darken($color: $color-primary, $amount: 50%);
                @include favori_position(1);
                }
                & .checked{
                    @include favoricheck('grow');
                    color:$color-primary;
                    @include favori_position(2);
                    
                }
            }
        }
    }

.plat{
    input{
        display: none;
    }
}

.plat1{
    width: 100%;
    border-radius: 10px;
    display: flex;
    @include overflowtext;
    &-info{ 
        padding-bottom: map-get($map: $padding, $key: head);
        padding-top: map-get($map: $padding, $key: head);
        background: red;
        flex:8;
        h3,p{
            width: 100%;
            @include overflowtext;
        }
    }
    & .add1{
        display: flex;
        padding: 0 auto;
        flex: 2;
        text-align: center;
        align-items: center;
        input{
            display: none;
            +label{
                text-align: center;
                display: flex;
            }
        }
        &-check{
            display: none;
        }
        &:hover{
            background: $color-third;
            /*flex:8;*/
            @include growplat;
            label{
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                span{
                    flex:1;
                    @include paddingplat;
                    background: white;
                    display: inline;
                    
                }
                .add1-check{
                    display: inline-block;
                    flex:1;
                    @include paddingplat;
                    & i{
                        @include platvalide;
                    }    
                }
            }
        }            
    }
}