.mainTitle{
    font-size: map-get($map: $font-size, $key: mainTitle);
    font-weight: bold;
}

.btn{
            margin-top: map-get($map: $padding, $key:threehead );
            padding: map-get($map: $padding, $key:button ) 22px;
            margin-left: auto;
            margin-right: auto;
            font-size: map-get($map: $font-size, $key: title);
            border-radius: map-get($map: $border-radius, $key:button );
            color:white;
}

.favori{
    border:none;
    input{
            display:none;
            &+label{
                & .checked{
                    display: none;
                }
                & .unchecked{
                    display: inline-block;
                    transform: scale(1);
                    color:darken($color: $color-primary, $amount: 50%);
                }
            }
            &:checked+label{
                & .checked{
                    display: inline-block;
                    transform: scale(1);
                    color:$color-primary;
                }
                & .unchecked{
                    display: none;
                }
            }
            &:hover+label i
            {
                    transition:all 600ms ease-in-out ;   
            }
        }
    }

.plat{
    input{
        display: none;
    }
}