.mainTitle{
    font-size: map-get($map: $font-size, $key: mainTitle);
    font-weight: bold;
}

.btn{
            margin-top: map-get($map: $padding, $key:threehead );
            padding: map-get($map: $padding, $key:button ) 22px;
            margin-left: auto;
            margin-right: auto;
            font-size: map-get($map: $font-size, $key: title);
            border-radius: map-get($map: $border-radius, $key:button );
            color:white;
}

.favori{
    border:none;
    margin: 0;
    input{
            display:none;
            &+label{
                position: relative;
                & .checked{
                    display: none;
                }
                & .unchecked{
                    @include favori_position(1);
                    /*transform: scale(1);*/
                    color:darken($color: $color-primary, $amount: 50%);
                }
            }
            &:checked+label{
                & .checked{
                    @include favori_position(1);
                    /*transform: scale(1);*/
                    color:$color-primary;
                }
                & .unchecked{
                    display: none;
                }
            }
            &:hover+label             
            {
                position: relative;
                & .unchecked{
                @include heart('reduce');
                color:darken($color: $color-primary, $amount: 50%);
                @include favori_position(1);
                }
                & .checked{
                    @include heart('grow');
                    color:$color-primary;
                    @include favori_position(2);
                    
                }
            }
        }
    }

.plat{
    input{
        display: none;
    }
}