$width:1.1rem;

@mixin favori_position($index,$top:16px,$left:0px){
	position: absolute;
	display: inline-block;
    width: $width;
    z-index: $index;
    top: $top;
    left: $left;
}




.favori{
    border:none;
    margin: 0;
    width: $width;
    input{
            display:none;
            &+label{
                display: inline-block;
                width: $width;
                height: auto;
                position: relative;
                & .checked{
                    display: none;
                }
                & .unchecked{
                    @include favori_position(1);
                    color:$color_generique;
                }
            }
            &:checked+label{
                & .checked{
                    @include favori_position(1);
                    color:$color_checked;
                }
                & .unchecked{
                    display: none;
                }
            }
            &:hover+label             
            {
                position: relative;
                & .unchecked{
                    width:$width;
                    @include favoricheck('reduce');
                    color:$color_generique;
                    @include favori_position(1);
                }
                & .checked{
                    width: $width;
                    @include favoricheck('grow');
                    color:$color_checked;
                    @include favori_position(2);
                    
                }
            }
        }
    }
