//@mixin
@mixin labelplat{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@mixin spanplat{
    margin-right: $margin-plat;
    height: $height-plats;    
    background:$background-color--plat;
    justify-self: flex-end;
}

@mixin addcheckplat {
    background: $background-color--hoverplate;        
    font-size: $fontsize-checkplat;
    display: inline-block;
    width: $width-pricecheck;
    height: calc($height-plats - $padding--large);
    padding-top: $padding-plat_large;
    & i{
        color:$color--button;
        @include platvalide;
    }    
}

//le code pour les plat
.plat{
    display: flex;
    width: 100%;
    border-radius: $borderradius-plat;
    height: $height-plats;
    input{
        display: none;
    } 
    @include overflowtext;
    &-info{ 
        padding-bottom: $padding-plat_standard;
        padding-top: $padding-plat_standard;
        background: $background-color--plat;
        width:100%;
        @include overflowtext;
        h3,p{
            width: 100%;
            @include overflowtext;
        }
    }
    & .add{
        display: flex;
        text-align: center;
        align-items: center;
        height: $height-plats;
        justify-content: space-between;
        background-color: $background-color--plat;        
        input{
            display: none;
            +label{
                display: flex;
                text-align: center;
                align-self: flex-end;
                width: $width-price;
            }
        }
        &-check{
            display: none;
        }
        &:hover{    
            flex:1;
            @include growplat;
            label{                
                @include labelplat;
                span{
                    @include spanplat;
                }
                .add-check{
                    @include addcheckplat;    
                }
            }
        }
                    
    }
}

.prix{
    display: flex;
    align-items: flex-end;
    .value{
        margin-bottom: $margin-plat;
    }
}

.plat{
    input:checked{
            & +label{                
                @include labelplat;
                span{
                    @include spanplat;
                }
                .add-check{
                    @include addcheckplat;               
                }    
            }
    }
}
    