
.index{
    position: relative;
    & .header{
        & .backtoindex{
            display: none;
        }
    }
    & .main{
        width: 100%;   
        /*toute la page est un formulaire */
        &-form{
            background: $background_form;
            position: relative;     
            width: 100%;           
        }
        /*zone de recherche par lieu*/
        &-location{
            border:none;
            height: $heigth_indexlocation;
            background-color:$background_location;
            position: relative;
            @include grid;
            &::before{
                grid-column: 1/4;
                content: "";
                box-shadow: inset 0 2px 2px $shadowlight;
                height: $heigth_indexlocation;
                display: inline-block;
                width: 100%;           
                z-index: 1;
            }
            & label{
                grid-column: 2/3;
                z-index: 2;
                position: absolute;
                top:3px;
                /*left:0;*/
                width: max-content;
            }
            & span{
                font-size: $fontsize-indexnormal;
            }
            & input{
                margin-left: $marge-indexinput;
                text-indent: $textindent-indexinput;
                font-size: $fontsize-indexnormal;
                margin-top: $marge-indextopinput;
                font-weight: bold;
                width: 80%;
                border: none;
                background-color:$background_location;
            }
        }
        /* zone de titre */
        &-slogan{
            text-align: center;
            padding-bottom: $padding-indexslogan;
            & .mainTitle{
                margin-top: $margin-indexsloganmaintitle;
                width: 65%;
                margin-left: auto;
                margin-right: auto;
            }
            & p{
                margin-left: auto;
                margin-right: auto;
                margin-top: $margine-indexparagraphe;
                width: 88%;
                font-size: $fontsize-indextitle;
            }
        }
        /*englobe la zone de fonctionnement et les restaurants*/
        &-reactive{
            @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)) {
                display: flex;
                justify-content: space-around;
            }
        }
        /* zone d'explication du fonctionnement*/    
        &-working{
            padding-bottom: $padding-indexworking-bottom;
            padding-top: $padding-indexworking_top;
            @media screen and (min-width:map-get($map: $breakpoints, $key:ordi-min )) {
                    flex:1;
                }
            & .mainTitle{
                margin-bottom: $margin-indexmaintitle;
                margin-left: $margin_left-indexmaintitle;
            }
            & ul{
                list-style: none;
                width: 86.5%;
                margin-top: $marge-indexlist;
                margin-left:$marge_left-indexlist;
                margin-right: auto;
                font-weight: bold;
            }
            & li{
                    display: inline-block;
                    width: 100%;
                    padding-top: $padding-indexlist;
                    padding-bottom: $padding-indexlist;
                    margin-top: $margin-indexlist;
                    position: relative;
                    border-radius: $borderradius-indexstandard;
                    box-shadow: 0 3px 3px $shadowlight;
                    background-color: $background_bouton--how;
                    & .number{
                        position: absolute;
                        top:30px;
                        left:-.8rem;
                        background-color: $background_operation;
                        color:$color_button;
                        width:22px;
                        text-align: center;
                        border-radius: $borderradius-indexround;
                        height: 22px;
                        z-index:1;
                    }     
                    & i{
                        text-indent: $textindent-indexiconeinfo;
                        font-size: $fontsize-indextitle;   
                    }
                    &:hover{
                        background:$background_infohover;
                        box-shadow: 0 3px 3px $shadowdark;
                        i{
                        color: $color_checked;
                        }
                    }
                    & .info{
                        position: absolute;
                        top:31px;
                        left: 4.6rem;
                    }                                         
            }
        }
        &-places{
            padding-bottom: $padding-indexplaces;
            background-color: $background_restaurant;
            @media screen and (min-width:map-get($map: $breakpoints, $key:ordi-min )) {
                    flex:3;
                }
            & .mainTitle{
                padding-top: $padding-indexplacesmaintitle;
                margin-left: $margin-indexplacemaintitle;
            }
            & ul{
                margin-top: $margin-indexlist;
                list-style: none;
                @media screen and (min-width:map-get($map: $breakpoints, $key:tablette-min )) and (max-width:map-get($map: $breakpoints, $key:tablette-max )) {
                  @include restaurant(2, 2, 250px);                
                  
                }
                @media screen and (min-width:map-get($map: $breakpoints, $key:ordi-min )) {
                  @include restaurant(3, 2, 250px);                
                }
                & li {
                @media screen and (max-width:map-get($map: $breakpoints, $key:phone-max )){
                    margin-top: $margin-indexrestaurantlist;
                }
            }
            
            }
            /*fiche des restaurants */
            
            & li:nth-child(1){
                
                @media screen and (min-width:map-get($map: $breakpoints, $key:tablette-min )) and (max-width:map-get($map: $breakpoints, $key:tablette-max )) {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                @media screen and (min-width:map-get($map: $breakpoints, $key:ordi-min )) {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                & .restaurant{
                    background-image: url('../../sass/base/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
                    background-position: 90%;
                }
            }
            & li:nth-child(2){
                @media screen and (min-width:map-get($map: $breakpoints, $key:tablette-min )) and (max-width:map-get($map: $breakpoints, $key:tablette-max )) {
                
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
                @media screen and (min-width:map-get($map: $breakpoints, $key:ordi-min )) {
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
                & .restaurant{
                background-image: url('../../sass/base/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
                background-position-y: 90%;                
                }
            }
            & li:nth-child(3) {
                @media screen and (min-width:map-get($map: $breakpoints, $key:tablette-min )) and (max-width:map-get($map: $breakpoints, $key:tablette-max )) {
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
                @media screen and (min-width:map-get($map: $breakpoints, $key:ordi-min )) {
                    grid-column: 3/4;
                    grid-row: 1/2;
                }
                & .restaurant{
                background-image: url('../../sass/base/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
                background-position-y: 90%;
                
                }
            }
            & li:nth-child(4){ 
                @media screen and (min-width:map-get($map: $breakpoints, $key:tablette-min )) and (max-width:map-get($map: $breakpoints, $key:tablette-max )) {
                    grid-column: 2/3;
                    grid-row: 2/3;
                }
                @media screen and (min-width:map-get($map: $breakpoints, $key:ordi-min )) {
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
                & .restaurant{
                background-image: url('../../sass/base/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
                background-position-y: 90%;
                }
            }
            & .restaurant{
                margin-right: auto;
                margin-left: auto;
                width: 335px;
                height: 250px;
                background-size: cover;         
                border-radius: $borderradius-indexstandard;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                @media screen and (min-width:map-get($map: $breakpoints, $key:ordi-min )) {
                    width: 100%;
                }
                &-new{
                    display:none;
                    &--active{
                        position: absolute;
                        top: 13px;
                        right: 11px;
                        background-color:$background_new;
                        width: 80px;
                        padding-top: $padding-indexnew;
                        padding-bottom: $padding-indexnew;
                        text-align: center;
                        color:$color_new;
                        border-radius: $borderradius-indexminus;
                    }
                }
                /* details des restaurants */
                &-details{
                    background-color: $background_info;
                    position: relative;
                    font-size: $fontsize-indextitle;
                    border-radius: 0 0 $borderradius-indexstandard $borderradius-indexstandard;
                    z-index: 1;
                    & h3{
                        padding-top: $padding-indextitle;
                        font-weight: bold;
                        text-indent: $textindent-indextitledetails;
                    }
                    & p{
                        margin-top: $margine-indexparagraphe;
                        padding-bottom: $padding-indexparagraphe;
                        text-indent: $textindent-indexparagraphe;
                    }
                    & .favori{
                            position: absolute;
                            top: 21px;
                            right: 1.5rem;
                            font-size: $fontsize-indexmaintitle;
                            width: $fontsize-indexmaintitle;
                            z-index: 2;
                    }
                }    
                    
            }            

        }
    }
}

