/************* variable **************/
/* couleurs de base*/
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-third:#99E2D0;
$color-modify:(dark:100%,light:100%,smooth:10%);

/* fonctions */
@function color-modify($modifier,$color,$value){
	@if ($modifier=='dark'){
		@return darken($color,$value);
	}
	@if ($modifier=='light'){
		@return lighten($color,$value);
	}
}

$background-color--operation: $color-primary;
$color--checked: $color-primary;
$color--check: $color-third;
$background-color--hoverplate: $color-third;
$background-color--new: $color-third;

/*couleurs secondaires découlant de celles de bases */
$color-four:adjust-color($color: $color-primary, $hue: 0, $saturation: 0%, $lightness: 35%, $alpha: 1.0);
$color-five:adjust-color($color: $color-third, $hue: 0, $saturation: 0%, $lightness: 20%, $alpha: 1.0);
$color-six:adjust-color($color: $color-third, $hue: 0, $saturation: 0%, $lightness: 40%, $alpha: 1.0);
$color-seven:adjust-color($color: $color-primary, $hue: 0, $saturation: 0%, $lightness: -100%, $alpha: 1.0);
$color-height:adjust-color($color: $color-primary, $hue: 0, $saturation: 0%, $lightness: -50%, $alpha: 1.0);
$color-nine:adjust-color($color: $color-primary, $hue: 0, $saturation: 0%, $lightness: 25%, $alpha: 1.0);

//background page index:liste restaurant ,menu restaurant
$background-color--menu: $color-four;
$background-color--boutonfonctionnement: $color-four;
$background-color--restaurant: $color-four;

$background-color--location: $color-five;

$background-color--info: $color-six;
$background-color--default: $color-six;
$background-color--form: $color-six;
$background-color--plat: grey;//$color-six;
$color--footer: $color-six;
$color--button: $color-six;

$color--generique: $color-seven;

$background-color--footer: $color-height;

$background-color--infohover:$color-nine;

$color-new: darken($color: $color-third, $amount: 20%);

//dégradé : background main bouton

/* dégradé */
$gradient: linear-gradient(300deg,$color-primary,$color-secondary);
$background--loader: linear-gradient(-45deg,$color-primary, $color-secondary,$color-third);
$background--mainbutton: $gradient;

//box-shadow
$shadowlight:$color-height;
$shadowdark:$color-seven;