/************* variable **************/
/* couleurs de base*/
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-third:#99E2D0;
$color-modify:(dark:100%,light:100%,smooth:10%);

/* fonctions */
@function color-modify($modifier,$color,$value){
	@if ($modifier=='dark'){
		@return darken($color,$value);
	}
	@if ($modifier=='light'){
		@return lighten($color,$value);
	}
}


$color_checked: $color-primary;
$background_hoverplate: $color-third;
$background_new: $color-third;
$background_operation: $color-primary;

/*couleurs secondaires découlant de celles de bases */
$color-four:adjust-color($color: $color-primary, $hue: 0, $saturation: 0%, $lightness: 35%, $alpha: 1.0);
$color-five:adjust-color($color: $color-third, $hue: 0, $saturation: 0%, $lightness: 20%, $alpha: 1.0);
$color-six:adjust-color($color: $color-third, $hue: 0, $saturation: 0%, $lightness: 40%, $alpha: 1.0);
$color-seven:adjust-color($color: $color-primary, $hue: 0, $saturation: 0%, $lightness: -100%, $alpha: 1.0);
$color-height:adjust-color($color: $color-primary, $hue: 0, $saturation: 0%, $lightness: -50%, $alpha: 1.0);
$color-nine:adjust-color($color: grey, $hue: 0, $saturation: 0%, $lightness: 35%, $alpha: 1.0);

//background page index:liste restaurant ,menu restaurant
$background_bouton--how: $color-four;
$background_default: $color-six;
$background_form: $color-six;
$background_footer: $color-height;
$background_info: $color-six;
$background_infohover:$color-nine;
$background_location: $color-five;
$background_menu: $color-nine;
$background_plat: $color-six;
$background_restaurant: $color-four;

$color_button: $color-six;
$color_footer: $color-six;
$color_generique: $color-seven;
$color_loader:silver;
$color_new: darken($color: $color-third, $amount: 20%);

//dégradé : background main bouton
/* dégradé */
$gradient: linear-gradient(300deg,$color-primary,$color-secondary);
$gradient--light: linear-gradient(300deg,lighten($color-primary,10%),lighten($color-secondary,10%));


$background_loader: linear-gradient(-45deg,$color-primary, $color-secondary,$color-third);
$background_mainbutton: $gradient;
$background_mainbutton--light: $gradient--light;

//box-shadow
$shadowlight:$color-primary;
$shadowdark:$color-seven;

//$color--check: $color-third;
