/*mixins*/
/*sur la page index et l'header*/
@mixin grid{
			display: grid;
			grid-template-columns: 28% 44% 28%;
			align-items: center;
			justify-items: center;
}

@mixin restaurant($col,$row,$hight){
			display: grid;
			grid-template-columns: repeat($col, 1fr);
			grid-column-gap: 1.1rem;
			grid-template-rows: repeat($row, $hight);
			grid-row-gap: 10px;	
			position: relative;
            }
