@use "sass:math";

/*mixins*/
/*sur la page index et l'header*/
@mixin grid{
			display: grid;
			grid-template-columns: 28% 44% 28%;
			align-items: center;
			justify-items: center;
}

@mixin restaurant($col,$row,$hightrepeat,$hightnorepeat:0){
	display: grid;
	grid-template-columns: repeat($col, 1fr);
	grid-column-gap: 1.1rem;
	grid-row-gap: 10px;	
	position: relative;
	align-content: start;
	@media screen and (min-width:map-get($map: $breakpoints, $key:tablette-min )) and (max-width:map-get($map: $breakpoints, $key:tablette-max )) {
		grid-template-rows: $hightrepeat repeat($row, $hightrepeat) $hightnorepeat;
	}
	
	@media screen and (min-width:map-get($map: $breakpoints, $key:ordi-min )) {		
		grid-template-rows: $hightrepeat repeat($row, $hightrepeat) $hightnorepeat;
	}

}
