/*durée des animations*/
$time:1s;
$menutime:200ms;
$loadtime:3s;

/*le keyframe et son mixin associé pour les coeurs*/
@keyframes hoverfavori {
    from{
        transform: scale(1);
        display: inline-block;
    }
    to{
        transform: scale(0);
        display: none;
    }
}

@mixin favoricheck ($direction:'reduce'){
    margin: 0;
    transform-origin: bottom;
    animation: hoverfavori $time ease-in-out both;
    @if($direction=='grow')
        {
            animation-direction: reverse;
        }
    @else if($direction=='reduce')
        {
        animation-direction: normal;
        }
}

/* keyframe pour la validation des plats et mixin associé */
@keyframes platcheck{
    0%{
        transform: rotate(0deg);
        //ne pas oublier d'ajouter deg !!!!
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    80%{
        transform: rotate(350deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@mixin platvalide{
    animation: platcheck $time ease-in-out both;
}

/*keyframe et mixin pour la zone de plat ckeck */
@keyframes grow{
    from{
        flex:1;
    }
    to{
        flex:8;
    }
}

@mixin growplat {
    animation: grow $time ease-in-out both;      
}

/*keyframes et mixin pour l'affichage progressif des plats */
@keyframes platereveal {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .5;
    }
    50%{
        opacity: .75;
    }
    75%{
        opacity: .9;
    }
    100%{
        opacity: 1;
    }
}

@mixin plateshow ($delay) {
    animation: platereveal $menutime $delay*$menutime ease-in-out both;
}

/*keyframes pour barre de chargement */
@keyframes barregrow {
    from{
        transform: scaleX(0);
        
    }
    to{
        transform: scaleX(1);
        
    }
}

@keyframes covered{
    0%,99%{
        transform: scaleY(1);
        opacity: 1;
    }
    100%{
        transform: scaleY(0);
        opacity: 0;
        display: none;
    }
}

@keyframes colorchange {
    from{
        font-size: 1rem;
        }
    to{
        color:$color-third;
        font-size: 2rem;
    }
}

@mixin covering {
    animation: covered $loadtime ease-in-out both;
}

@mixin barregrowing {
    transform-origin: left;
    animation: barregrow $loadtime ease-in-out both;
}

@mixin loadrotate{
    animation: colorchange $loadtime ease-in-out, platcheck $time ease-in-out both infinite;
}




