/*value*/
$espace:(standard:10px,smallest:3px);
$fontsize:(bouton:1.1rem,big:2rem,title:1.5rem,standard:1.1rem,small:1rem);

$radius:(standard:10px,smallest:2px);
$horizontalspace:(standard:0);
//$propriété_cible--modif


/* les breakpoints */
    $breakpoints:(phone-max:767px,tablette-min:768px,tablette-max:991px,ordi-min:992px);

//pour _background
    $margin-background_image:19*map-get($map: $espace, $key:standard );
    //nom des fichiers images
    $delice:"louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg";
    $francaise:"toa-heftiba-DQKerTsQwi0-unsplash.jpg";
    $note:"stil-u2Lp8tXIcjw-unsplash.jpg";
    $palette:"jay-wennington-N_Y88TWmGwA-unsplash.jpg";
    //emplacement des images
    $place:"./../../sass/base/images/restaurants/";

//pour _bouton
    $borderradius_btn:2.5*map-get($map: $radius, $key:standard);
    $margin-btn:3*map-get($map: $espace, $key: standard);
    $padding-btn--small:map-get($map: $espace, $key: standard);
    $padding-btn--large:1.3*map-get($map: $espace, $key: standard);
    $fontsize_btn:map-get($map: $fontsize, $key:bouton );

//pour _plat
    $borderradius_plat:map-get($map: $radius, $key:standard);
    $fontsize_addcheckplat:map-get($map: $fontsize, $key: big );
    $height_plat:7*map-get($map: $espace, $key: standard);    
    $margin_plat:map-get($map: $espace, $key: standard);
    $padding_plat--large:1.5*map-get($map: $espace, $key: standard);
    $padding_plat--standard:map-get($map: $espace, $key: standard);
    $width_price:5*map-get($map: $espace, $key: standard);
    $width_pricecheck:7*map-get($map: $espace, $key: standard);  

//pour _title
    $fontsize_maintitle:map-get($map: $fontsize, $key:title );
    $weigth_maintitle:bold;

//pour _footer
    $fontsize_footer:map-get($map: $fontsize, $key: small);
    $margin_footer--icone:.3rem;
    $margin_footer--interline:map-get($map: $espace, $key: smallest);
    $margin_footer--liens:1.5rem;
    $margin_footer--title:1.5rem;
    $padding_footer--large:3*map-get($map: $espace, $key: standard);
    $padding_footer--normal:map-get($map: $espace, $key: standard);
    $padding_footer--title:2.5*map-get($map: $espace, $key: smallest); 
    $width_footer--icone:1rem;

//pour _header
    $fontsize_header:map-get($map: $fontsize, $key:standard );
    $height_header--logo:2.8*map-get($map: $espace, $key: standard);
    $height_header--title:6.3*map-get($map: $espace, $key: standard);
    $margin_header:1.3rem;
    $padding_header--logo:map-get($map: $espace, $key: standard);        

//pour _menu
    $borderradius_menu:4*map-get($map: $radius, $key:standard);
    $borderradius_menu--standard:1.5*map-get($map: $radius, $key:standard);

    $fontsize_mainTitle--menu:map-get($map: $fontsize, $key:title );

    $heigth_button:15*map-get($map: $radius, $key:standard);
    $heigth_button--menu:5*map-get($map: $radius, $key:standard);
    $height_repeat--menu:33*map-get($map: $radius, $key:standard);

    $margin_menu--list:map-get($map: $espace, $key:standard);
    $margin_menu--title:3*map-get($map: $espace, $key:standard);
    $margin_index--list:map-get($map: $espace, $key:standard);
    $margin_menu--button:5*map-get($map: $espace, $key:standard);

    $padding_dessert:2*map-get($map: $espace, $key: standard);
    $padding_menu--bottom:5*map-get($map: $espace, $key: standard);
    $padding_menu--title:3.5*map-get($map: $espace, $key: standard);
    $padding_title--favori:3.5*map-get($map: $espace, $key: standard);

    $textindent_main:.5rem;
    $textindent_menu--title:1.3rem;

    $fontsize_menu:map-get($map:$fontsize, $key: small);
    $fontsize_menu--title:1.1rem;         
       
 
    
    
    
    

//pour _index
    $borderradius-indexminus:map-get($map: $radius, $key:smallest);
    $borderradius-indexstandard:1.5*map-get($map: $radius, $key:standard);
    $borderradius-indexround:5*map-get($map: $radius, $key:standard);
    
    $fontsize-indexnormal:1rem;
    $fontsize-indextitle:map-get($map: $fontsize, $key: standard);
    $fontsize-indexmaintitle:1.5rem;
    $heigth_indexlocation:5*map-get($map: $espace, $key:standard);
    $textindent-indexiconeinfo:2rem;
    $textindent-indexinput:.3rem;
    
    $margin-indexrestaurantlist:2*map-get($map: $espace, $key:standard);
    $margin-indexlist:2*map-get($map: $espace, $key:standard);
    $marge-indexinput:.3rem;
    $marge-indextopinput:1.5*map-get($map: $espace, $key:standard);
    $margin-indexmaintitle:3px;
    $margin_left-indexmaintitle:1.3rem;
    $marge-indexlist:3px;
    $marge_left-indexlist:2rem;
    $margine-indexparagraphe:map-get($map: $espace, $key:standard);
    $margin-indexsloganmaintitle:4*map-get($map: $espace, $key:standard);
    $padding-indexslogan:5*map-get($map: $espace, $key:standard);

    $padding-indexplacesmaintitle:5*map-get($map: $espace, $key:standard);
    $padding-indexparagraphe:map-get($map: $espace, $key:standard);
    $padding-indextitle:map-get($map: $espace, $key:standard);
    $padding-indexnew:map-get($map: $espace, $key:smallest);    
    $padding-indexplaces:6*map-get($map: $espace, $key:standard);
    $padding-indexlist:3*map-get($map: $espace, $key:standard);
    $padding-indexworking_top:5*map-get($map: $espace, $key:standard);
    $padding-indexworking-bottom:6*map-get($map: $espace, $key:standard);
    
    $margin-indexplacemaintitle:1.3rem;
    $textindent-indextitledetails:.7rem;
    $textindent-indexparagraphe:.7rem;