
/**/
/*breakpoints*/
$breakpoints:(phone-max:767px,tablette-min:768px,tablette-max:991px,ordi-min:992px);


/**/
/* standard marge*/
$marge-horizontal:(standard:2rem, medium:1.5rem,small:1.3rem,xsmall:.7rem,minimum:.3rem);

/*pour les margin et les padding verticaux (exprimé en px)*/
$headpadding:10px;
$buttonpadding:13px;
$padding:(sixhead:$headpadding*6,fivehead:$headpadding*5,fourhead:$headpadding*4,threefive:$headpadding*3.5,threehead:$headpadding * 3,twohalf:$headpadding*2.5,dubble-head:$headpadding*2,head:$headpadding,button:$buttonpadding,quarter: div($buttonpadding,4));
/* attention : $buttonpadding/4 provoque une erreur. voir: https://sass-lang.com/documentation/breaking-changes/slash-div */

@mixin paddingplat {
	// pour centrer le prix et le check des plats
	padding: div((46.8px-21.6px),2)+map-get($map: $padding, $key: head) 0; //(hauteur de plat1-info - hauteur du texte) /2
}

/**/
/* border radius */
$border-radius:(round:50%,button:25px,menu:40px, standard:15px,minus:2px);


