/*inclusion des fonts */
@font-face {
 font-family: "roboto";
 src: url('../base/fonts/Roboto/Roboto-Regular') format('ttf')
}

@font-face {
 font-family: "shrikhand";
 src: url('../base/fonts/Shrikhand/Shrikhand-Regular') format('ttf')
}

/************* variable **************/
/* color */
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-third:#99E2D0;

/* dégradé */
$gradient: linear-gradient(300deg,$color-primary,$color-secondary);
/* font */
$font-text:'roboto';
$font-main_info:'shrikhand';
$font-size:(mainTitle:1.5rem,title:1.1rem,normal:1rem,small:.8rem);

/* standard marge*/
$marge-horizontal:(standard:2rem, medium:1.5rem,small:1.3rem,xsmall:.7rem,minimum:.3rem);
$marge-vertical:(maximum:75px,doublelarge:66px, xlarge:55px,large:33px,standard:20px,medium:13px,small:10px,xsmall:5px,minimum:3px);
/* border radius */
$border-radius:(round:50%,button:25px, standard:15px,minus:2px);

/*mixin*/
@mixin font-face($name, $src){
	                font-family:$name ;
	                src: $src,
}
