.footer{
    background: darken($color: $color-primary, $amount: 90%);
    color:lighten($color: $color-primary, $amount: 90%);
    & ul{
        list-style: none;
        padding-top: 19px;
        margin-left: map-get($map: $marge-horizontal, $key:medium );
        padding-bottom: 33px;
    }
    & .invertcolor{
        filter:invert(100%);
        width: 28.5%;
        margin-bottom: 10px;
    }
    & li{
        margin-top: 6px;
        & a{
            font-size: map-get($map: $font-size, $key: title);
            & i{
                font-size: map-get($map: $font-size, $key:small );
                width: 1rem;
                margin-right: map-get($marge-horizontal,minimum).3rem;
            }
        }
    
    }
}