
.footer{
    background: $background_footer;
    & * {
        color:  $color_footer;
    }
    & ul{
        list-style: none;
        padding-top: $padding_footer--normal;
        margin-left: $margin_footer--liens;
        padding-bottom: $padding_footer--large;
        @media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) and (max-width:map-get($map: $breakpoints, $key: tablette-max)) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            margin-right: $margin_footer--liens;
        }
        @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)) {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: 30px;
            margin-right: $margin_footer--liens;
        }
    }
    & h3{
        
        font-family: $font-main_info;
        padding-top: $padding_footer--title;
        @media screen and (max-width:map-get($map: $breakpoints, $key: phone-max)) {
            margin-left: $margin_footer--title;
        
        }
        @media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) {
            text-align: center;
        }
        
    }
    & li{
        margin-top: $margin_footer--interline;
        & a{
            font-size:$fontsize_footer;
            & i{
                font-size: $fontsize_footer;
                width: $width_footer--icone;
                margin-right: $margin_footer--icone;
            }
        }
        &:nth-child(1){
            @media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) and (max-width:map-get($map: $breakpoints, $key: tablette-max)) {
                grid-row: 1/2;
                grid-column: 1/2 ;
            }
            @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)) {
                grid-row: 1/2;
                grid-column: 1/2 ;
            }
        }
        &:nth-child(2){
            @media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) and (max-width:map-get($map: $breakpoints, $key: tablette-max)) {
                grid-row: 2/2;
                grid-column: 1/2 ;
            }
            @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)) {
                grid-row: 1/2;
                grid-column: 2/3 ;
            }
        }
        &:nth-child(3){
            @media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) and (max-width:map-get($map: $breakpoints, $key: tablette-max)) {
                grid-row: 1/2;
                grid-column: 2/3 ;
            }
            @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)) {
                grid-row: 1/2;
                grid-column: 3/4 ;
            }
        }
        &:nth-child(4){
            @media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) and (max-width:map-get($map: $breakpoints, $key: tablette-max)) {
                grid-row: 2/3;
                grid-column: 2/3 ;
            }
            @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)) {
                grid-row: 1/2;
                grid-column: 4/5 ;
            }
        }
    }
}

