$font-size-normal:1rem;

.footer{
    background: $background-color--footer;
    & * {
        color:  $color--footer;
    }
    & ul{
        list-style: none;
        padding-top: map-get($map: $padding, $key: head);
        margin-left: map-get($map: $marge-horizontal, $key:medium );
        padding-bottom: map-get($map: $padding, $key:threehead);
    }
    & h3{
        margin-left: map-get($map: $marge-horizontal, $key:medium );
        font-family: $font-main_info;
        padding-top: map-get($map: $padding, $key:twohalf );
    }
    & li{
        margin-top: map-get($map: $padding, $key: quarter);
        & a{
            font-size:$font-size-normal;
            & i{
                font-size: $font-size-normal;
                width: 1rem;
                margin-right: map-get($marge-horizontal,minimum);
            }
        }
    
    }
}