
.header{
    text-align: center;
    width: 100%;
    &-title{
        width: 100%;
        height: $height_header--title;
        @include grid;
        & .backtoindex{
            grid-column: 1/2;
            text-align: left;
            font-size: $fontsize_header;
            margin-left: $margin_header;
            width: $fontsize_header;
            }
        & #logo{ 
            grid-column: 2/3;
            height: $height_header--logo;
            width: auto;
            /*la taille du logo reste constante quelle que soit la vue */
            display: inline-block;
            padding-top: $padding_header--logo;   
        }        
    }
}


