
.header{
    text-align: center;
    width: 100%;
    &-title{
        width: 100%;
        height: $height-header_title;
        @include grid;
        & .backtoindex{
            grid-column: 1/2;
            text-align: left;
            font-size: $fontsize-header;
            margin-left: $margin-header;
            width: $fontsize-header;
            }
        & #logo{ 
            grid-column: 2/3;
            height: $height-header_logo;
            width: auto;
            /*la taille du logo reste constante quelle que soit la vue */
            display: inline-block;
            padding-top: $padding-header_logo;   
        }        
    }
}


