

.resto{
    @media screen and (max-width:map-get($map: $breakpoints, $key: phone-max)  ){
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: max-content max-content max-content;
        .header{
            grid-row: 1/2;
        }
        .main{
            grid-row: 2/3;
        }
        .footer{
            grid-row: 3/4;
        }
    }
    .main{
        position: relative;        
        & .image{
            width: 100%;
            @media screen and (max-width:map-get($map: $breakpoints, $key: phone-max)  ){
            }
            &-grid{
                display: none;
            }
            @media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) and (max-width:map-get($map: $breakpoints, $key: tablette-max)  ){
                display: none;
                &-grid{
                    display: inline-block;
                    grid-column: 1/2;
                    grid-row: 1/2;
                    width: 92%;
                    margin: auto;
                }
            }
            @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)){
                display: none;
                &-grid{
                    border-radius: $borderradius-menustandard;
                    display: inline-block;
                    grid-column: 1/2;
                    grid-row: 1/2;
                    width: 90%;
                    margin: auto;
                }
            }
        }
        h3,p{
                text-indent: .5rem;
                width: 80%;
                /*pour que le texte qui déborde apparaissent sous la forme de ... */
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }   
        & .menu{ 
            width: 100%;
            background-color: $background-color--menu;
            border-radius: $borderradius-menustandard $borderradius-menustandard 0 0;
            @media screen and (max-width:map-get($map: $breakpoints, $key:phone-max)){
                padding-bottom: $padding-menubottom;
            }
            @media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) and (max-width:map-get($map: $breakpoints, $key: tablette-max)){
               @include restaurant (2,2,$height-menurepeat,$heigth-button);
                
            }
            @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)) {
                @include restaurant (3,2,$height-menurepeat,$heigth-button); //test modifié             
                align-items: center;
            }
            &-entrees{                
                @media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) and (max-width:map-get($map: $breakpoints, $key: tablette-max) ){
                    grid-column: 2/2;
                    grid-row: 1/2;
                }
                @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)){
                    grid-column: 1/2;
                    grid-row: 2/2;
                }
            }
            &-plats{
              @media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) and (max-width:map-get($map: $breakpoints, $key: tablette-max)){
                    grid-column: 1/2;
                    grid-row: 2/2;  
                }
                @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)){
                    grid-column: 2/3;
                    grid-row: 2/2;
                }
            }
            &-desserts{
                @media screen and (max-width:map-get($map: $breakpoints, $key: phone-max)) {
                    padding-bottom: $padding-menudessert;    
                }   
                @media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) and (max-width:map-get($map: $breakpoints, $key: tablette-max)){
                    grid-column: 2/2;
                    grid-row: 2/2;
                }
                @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)){
                    grid-column: 3/4;
                    grid-row: 2/2;
                }
            }
            &-title{
                padding-top:$padding-menutitle;
                font-family: $font-main_info;
                font-size: $fontsize-mainTitlemenu;
                text-indent: $textindent-menutitle;
                position: relative;                
                @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)) {
                    grid-column: 2/4;
                    grid-row: 1/2;
                }                
                & .favori{
                    padding-top: $padding-menufavori;
                    position: absolute;
                    top: 0.625*1.5rem;
                    right: 100px;        
                    }
                }
                @media screen and (min-width: map-get($map: $breakpoints, $key:tablette-min )) and (max-width: map-get($map: $breakpoints, $key:tablette-max )){
                & .favori{
                    padding-top:$padding-menufavori;
                    position: absolute;
                    top: 0.625*1.5rem;
                    right: 100px;    
                    }
                }
            }
            & h2{
                position: relative;
                text-indent: $textindent-menutitle;
                text-transform: uppercase;
                font-size: $fontsize-titlemenu;
                margin-top: $margin-menutitle;
                &::before{
                    @include underline;
                }
            }
            & ul{
                display: flex;
                list-style: none;
                align-items: center;
                margin-top: $margin-menulist;
                flex-direction: column;
                & li{
                    margin-top:$marge-indexliste;
                    background: $background-color--plat;
                    width: 92%;
                    font-size: $fontsize-menu;
                    border-radius: $borderradius-menu;
                }
            }
        }
    }


.menu{
    &-entrees{
        ul{
            li{
                @for $i from 1 to 4 {
                    &:nth-child(#{$i}){
                        @include plateshow($i);
                    }
                }

            }
        }
    }
    &-plats{
        ul{
            li{
                @for $i from 1 to 4 {
                    &:nth-child(#{$i}){
                        @include plateshow(4+$i);
                    }
                }
            }       
        }
    }
    &-desserts{
         ul{
            li{
                @for $i from 1 to 4 {
                    &:nth-child(#{$i}){
                        @include plateshow(8+$i);
                    }
                }
            }       
        }
    }
    
}

.buttonarea{
    width: 100%;
    text-align: center;
    margin-top: $margin-menubutton;
    .btn{
        font-size: 1.1rem;
        margin: auto;
        height: $heigth-menubutton;
        background:$background--mainbutton ;
    }
}

@media screen and (min-width:map-get($map: $breakpoints, $key:tablette-min)) and (max-width:map-get($map: $breakpoints, $key:tablette-max)){
    .buttonarea{
    grid-row: 3/4;
    grid-column: 1/3;
    }
}

@media screen and (min-width:map-get($map: $breakpoints, $key:ordi-min)) {
    .buttonarea{
    grid-row: 3/4;
    grid-column: 1/4;
    }
}
                
@media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)){
    .main{
        display: flex;
    }
}