.resto{
    @media screen and (max-width:map-get($map: $breakpoints, $key: phone-max)  ){
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: max-content max-content max-content;
        .header{
            grid-row: 1/2;
        }
        .main{
            grid-row: 2/3;
        }
        .footer{
            grid-row: 3/4;
        }
    }
    .main{
        position: relative;        
        & .image{
            width: 100%;
            @media screen and (max-width:map-get($map: $breakpoints, $key: phone-max)  ){
            }
            &-grid{
                display: none;
            }
            @media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) and (max-width:map-get($map: $breakpoints, $key: tablette-max)  ){
                display: none;
                &-grid{
                    display: inline-block;
                    grid-column: 1/2;
                    grid-row: 1/2;
                    width: 92%;
                    margin: auto;
                }
            }
            @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)){
                display: none;
                &-grid{
                    border-radius: map-get($map: $border-radius, $key:standard );
                    display: inline-block;
                    grid-column: 1/2;
                    grid-row: 1/2;
                    width: 90%;
                    margin: auto;
                }
            }
        }
        h3,p{
                text-indent: .5rem;
                width: 80%;
                /*pour que le texte qui déborde apparaissent sous la forme de ... */
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }   
        & .menu{ 
            width: 100%;
            background-color: $background-color--menu;
            border-radius: map-get($map: $border-radius, $key:menu ) map-get($map: $border-radius, $key:menu ) 0 0;
            /*@media screen and (max-width:map-get($map: $breakpoints, $key: phone-max)){
                position: absolute;
                z-index: 2;
                right: 0;
                top: 220px;
            }*/
            @media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) and (max-width:map-get($map: $breakpoints, $key: tablette-max)){
               @include restaurant (2,2,330px);
                
            }
            @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)) {
                @include restaurant (3,2,330px);
             
                align-items: center;
            }
            &-entrees{                
                @media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) and (max-width:map-get($map: $breakpoints, $key: tablette-max) ){
                    grid-column: 2/2;
                    grid-row: 1/2;
                }
                @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)){
                    grid-column: 1/2;
                    grid-row: 2/2;
                }
            }
            &-plats{
              @media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) and (max-width:map-get($map: $breakpoints, $key: tablette-max)){
                    grid-column: 1/2;
                    grid-row: 2/2;  
                }
                @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)){
                    grid-column: 2/3;
                    grid-row: 2/2;
                }
            }
            &-desserts{
                @media screen and (max-width:map-get($map: $breakpoints, $key: phone-max)) {
                    padding-bottom: map-get($map: $padding, $key:dubble-head );    
                }
                
                @media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) and (max-width:map-get($map: $breakpoints, $key: tablette-max)){
                    grid-column: 2/2;
                    grid-row: 2/2;
                }
                @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)){
                    grid-column: 3/4;
                    grid-row: 2/2;
                }
            }
            &-title{
                padding-top: map-get($map: $padding, $key:threefive );
                font-family: $font-main_info;
                font-size: map-get($map: $font-size, $key: mainTitle);
                text-indent: map-get($map: $marge-horizontal, $key: small);
                position: relative;
                /*@media screen and (min-width:map-get($map: $breakpoints, $key: tablette-min)) and (max-width:map-get($map: $breakpoints, $key: tablette-max)){
                    position: absolute;
                    z-index: 2;
                    top: -30px;
                    width: 100%;
                    left: 0;
                }*/
                @media screen and (min-width:map-get($map: $breakpoints, $key: ordi-min)) {
                    grid-column: 2/4;
                    grid-row: 1/2;
                }
                & .favori{
                    position: absolute;
                    top: 32px;
                    right: 100px;
                }
            }
            & h2{
                position: relative;
                text-indent: map-get($map: $marge-horizontal, $key: small);
                text-transform: uppercase;
                font-size: map-get($map: $font-size, $key: title);
                margin-top: map-get($map: $padding, $key:threehead );
                &::before{
                    @include underline;
                }
            }
            & ul{
                /*margin-top: 20px;*/
                display: flex;
                list-style: none;
                align-items: center;
                margin-top: map-get($map: $padding, $key: head);
                flex-direction: column;
                & li{
                    margin-top: map-get($map: $padding, $key: head);
                    background: $background-color--plat;
                    width: 92%;
                    font-size: map-get($map: $font-size, $key: normal);
                    border-radius: 15px;
                }
            }
        }
    }
    /*& .footer{
        z-index: 2;
    }*/
}

.menu
{
    &-entrees{
        ul{
            li{
                @for $i from 1 to 4 {
                    &:nth-child(#{$i}){
                        @include plateshow($i);
                    }
                }

            }
        }
    }
    &-plats{
        ul{
            li{
                @for $i from 1 to 4 {
                    &:nth-child(#{$i}){
                        @include plateshow(4+$i);
                    }
                }
            }       
        }
    }
    &-desserts{
         ul{
            li{
                @for $i from 1 to 4 {
                    &:nth-child(#{$i}){
                        @include plateshow(8+$i);
                    }
                }
            }       
        }
    }
    
}

.buttonarea{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    .btn{
        font-size: 1.1rem;
        margin: auto;
        height: 50px;
        background:$background--mainbutton ;
    }
}